<a href="https://colab.research.google.com/github/saywhypablo/laba2024/blob/main/reps/rep4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Лабораторная работа №4.
# Анализ данных пассажиров "Титаника"

Гибель Титаника – одно из самых печально известных кораблекрушений в истории.

15 апреля 1912 года во время своего первого плавания считавшийся «непотопляемым» «Титаник» затонул после столкновения с айсбергом.
К сожалению, спасательных шлюпок для всех находившихся на борту не хватило, в результате чего погибли 1502 из 2224 пассажиров и членов экипажа.

Используя набор данных titanic.csv выполните следующие 10 заданий.

In [ ]:
import numpy as np
import pandas as pd
from google.colab import files
uploaded = files.upload()
print(np.version.version)
print(pd.__version__)

Saving titanic.csv to titanic.csv
1.26.4
2.2.2

1. Создайте DataFarame из файла titanic.csv, в качестве индекса используйте столбец "PassengerId"

In [ ]:
titanic_df = pd.read_csv("titanic.csv", index_col='PassengerId')
titanic_df

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

2. Просмотрите первые 6 строк

In [ ]:
titanic_df.head(6)

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q

3. Выведите описание данных

In [ ]:
titanic_df.describe()

         Survived      Pclass         Age       SibSp       Parch        Fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

4. Сколько мужчин / женщин находилось на борту?

In [ ]:
male = titanic_df['Sex'] == 'male'
female = titanic_df['Sex'] == 'female'
print("There were", male.sum(), "men and", female.sum(), "women on the board.")

There were 577 men and 314 women on the board.

4. Выведите распределение переменной Pclass (социально-экономический статус) и это же распределение, только для мужчин / женщин по отдельности. Сколько было мужчин 2-го класса

In [ ]:
pclass = titanic_df['Pclass']
print("Pclass variable distribution:\n", pclass.value_counts())
print("\nPclass variable distribution grouped by male sex:\n", pclass[male].value_counts())
print("\nPclass variable distribution grouped by female sex:\n", pclass[female].value_counts())
count = pclass[male].value_counts().loc[2]
print("\nCount of men in the 2nd class:", count)

Pclass variable distribution:
 Pclass
3    491
1    216
2    184
Name: count, dtype: int64

Pclass variable distribution grouped by male sex:
 Pclass
3    347
1    122
2    108
Name: count, dtype: int64

Pclass variable distribution grouped by female sex:
 Pclass
3    144
1     94
2     76
Name: count, dtype: int64

Count of men in the 2nd class: 108

5. Каковы медиана и среднеквадрати́чное отклонение платежей (Fare)? Округлите до 2 десятичных знаков.

In [ ]:
median = round(titanic_df['Fare'].median(), 2)
std = round(titanic_df['Fare'].std(), 2)
print("Median is", median)
print("Standart deviation is", std)

Median is 14.45
Standart deviation is 49.69

6. Правда ли, что люди моложе 30 лет выживали чаще, чем люди старше 60 лет? Каковы доли выживших в обеих группах?

In [ ]:
younger = titanic_df[titanic_df['Age'] < 30]
older = titanic_df[titanic_df['Age'] > 60]
ysurvived = round(younger['Survived'].mean(), 2)
osurvived = round(older['Survived'].mean(), 2)
print("Survived percentage for people younger than 30 y.o. is", ysurvived)
print("Survived percentage for people older than 60 y.o. is", osurvived)
print("Given statement is true.") if ysurvived > osurvived else print("Given statement is false.")

Survived percentage for people younger than 30 y.o. is 0.41
Survived percentage for people older than 60 y.o. is 0.23
Given statement is true.

7. Правда ли, что женщины выживали чаще мужчин? Каковы доли выживших в обеих группах?

In [ ]:
male = titanic_df[titanic_df['Sex'] == "male"]
female = titanic_df[titanic_df['Sex'] == "female"]
msurvived = round(male['Survived'].mean(), 2)
fsurvived = round(female['Survived'].mean(), 2)
print("Survived percentage for men is", msurvived)
print("Survived percentage for women is", fsurvived)
print("Given statement is true.") if fsurvived > msurvived else print("Given statement is false.")

Survived percentage for men is 0.19
Survived percentage for women is 0.74
Given statement is true.

8.  Найдите самое популярное имя среди пассажиров Титаника мужского пола?

In [ ]:
name = male['Name'].str.split(" ").str[2]
print(f"{name.mode().iloc[0]} is the most common name among men on the Titanic.")

William is the most common name among men on the Titanic.



9. Как отличается средний возраст мужчин / женщин в зависимости от класса обслуживания? Выберите верные утверждения:

    1) В среднем мужчины 1-го класса старше.

    2) В среднем женщины 1-го класса старше 40 лет.

    3) Мужчины всех классов в среднем старше женщин того же класса.

    4) В среднем люди в 1 классе старше, чем во 2-ом, а те старше представителей 3-го класса.

In [ ]:
mean_age = titanic_df.groupby(['Pclass', 'Sex'])['Age'].mean()
print(mean_age)

print("\nAs follows, the first and the third statements are true.")

Pclass  Sex
1       female    34.611765
        male      41.281386
2       female    28.722973
        male      30.740707
3       female    21.750000
        male      26.507589
Name: Age, dtype: float64

As follows, the first and the third statements are true.

10. Сравните возраст у спасенных и у погибших пасажиров. Средний возраст погибших выше, верно?

In [ ]:
survived = titanic_df[titanic_df['Survived'] == 1]
dead = titanic_df[titanic_df['Survived'] == 0]
survived_age = round(survived['Age'].mean(), 2)
dead_age = round(dead['Age'].mean(), 2)
print("Mean age for survived is", survived_age)
print("Mean age for dead is", dead_age)
print("Given statement is true.") if dead_age > survived_age else print("Given statement is false.")

Mean age for survived is 28.34
Mean age for dead is 30.63
Given statement is true.

### Дополнительные вопросы для защиты

1. Что такое медиана? Рассчитать медиану для предложенного ряда чисел.
2. Что такое дисперсия? Рассчитать дисперсию для предложенного ряда чисел.
3. Что такое среднеквадратичное отклонение? Рассчитать среднеквадратичное отклонение для предложенного ряда чисел.
4. Что такое Series и чем он отличается от DataFrame
5. Можно ли изменить индекс в Series после создания объекта?
6. Можно ли выполнить операцию сложения над двумя объектами Series, если они имеют:
- одинаковые типы данных, одинаковые размеры и одинаковые индексы?
- одинаковые типы данных, одинаковые размеры, но разные индексы?,  
- одинаковые типы данных, разные размеры и одинаковые индексы?
- разные типы данных, одинаковые размеры и одинаковые индексы?
- разные типы данных, одинаковые размеры и разные индексы?
- разные типы данных, разные размеры и разные индексы?
7. Что такое DataFrame и чем он отличается от Series
8. Что необходимо сделать, чтобы число строк в DateFrame при его просмотре, по умолчанию составляло 8?
9. Чем отличается метод iloc от метода loс
10. Можно ли добавить в DateFrame дополнительный Series?
11. Требуются ли установка дополнительных библиотек для загрузки с помощью pandas файлов в формате CSV? Excel (.xls)? Json?